/*------------------Setting the Page------------------*/
*
{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body
{
    min-height: 200vh;
}
/*------------------Start Navebar + Header------------------*/

.navbar
{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}
.navbar .logo
{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
.navbar ul
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
	margin-left: 50%;
}
.navbar ul li
{
    position: relative;
    list-style: none;
}
.navbar ul li a
{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color:#fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}
.navbar .links li.active a,
.navbar .links li a:hover
{
	color:lightgrey;  
	border-bottom: 2px solide lightgrey;
}
.navbar .links li.active,
.navbar .links li:hover
{
	color:lightgrey;  
	border-bottom: 2px solide lightgrey;
}
.navbar
 {
position: -webkit-sticky;
position: sticky;
/* sticky or fixed are fine */
position: fixed;
top: 0;
height: 69px;
width: 100%;
background: linear-gradient(to bottom, #000, #0003 70%,#0000); /* background when scroll is in the top */
transition: background .5s; /* control how smooth the background changes */
}
nav.scrolled
{
background: #4a707a;
}
.header
{
	  background: url(../images/img25.jpg);
	  position: relative;
	  background-size: cover;
	  margin-bottom: 60px;
	  background-attachment: fixed;
}
.header .overlay
{
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	margin: 0 0 0 0px;
	width: 100%;
	height: 100%;
	color:#eee;
}
.header .overlay h2
{
	position: absolute;
	top: 50%;
	left: 50%;
	text-transform: uppercase;
	transform: translate(-50%,-50%);
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 0;
	font-size: 4.5em;
	color: #7697a0;
	animation: type 3s steps(20);
	overflow: hidden;
	white-space: nowrap;
	border-right: 9px solid #ddddda;
	width: 22ch;
}

@keyframes type {
	0%
	{
		width: 0ch;
	}
	100%
	{
		width: 22ch;
	}
	
}

.header .overlay .btn1
{
	position: absolute;
	text-decoration: none;
	text-align: center;
	background: transparent;
	border-radius: 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	margin-top: 100px;
	outline: none;
	padding: 0;
	width: 15%;
	height: 9%;
	box-shadow: none;
	font-size: x-large;
	color: #94b0b7;
	border-color: inherit;
	transition: all 0.25s ease;
	background-color: #4a707a;
	padding-top: 13px;
}
.header .overlay .btn1:hover
{
	background-color: #94b0b7;
	color: #4a707a;
}
/*------------------End Navebar + Header------------------*/

/*------------------Start Services Section------------------*/
.inner-width
{
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 0 20px;
	overflow: hidden;
}
.section-title
{
	text-align: center;
	color: #4a707a;
	text-transform: uppercase;
	font-size: 30px;
}
.border
{
	width: 160px;
	height: 2px;
	background: #7697a0;
	margin: 40px auto;
}
.services-container
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.service-box
{
	max-width: 33.33%;
	padding: 10px;
	float: left;
	text-align: center;
	color: #ddddda;
	cursor: pointer;
}
.service-icon
{
	display: inline-block;
	width: 100px;
	height: 100px;
	border: 3px solid #4a707a;
	color: #4a707a;
	transform: rotate(45deg);
	margin-bottom: 30px;
	margin-top: 16px;
	transition: 0.3s linear;
}
.service-icon i
{
	line-height: 95px;
	transform: rotate(-45deg);
	font-size: 26px;
}
.service-box:hover .service-icon
{
	background: #4a707a;
	color: #ddddda;
}
.service-title
{
	font-size: 25px;
	text-transform: uppercase;
	margin-bottom: 10px;
	color: #4a707a;
}
.service-desc
{
	font-size: 17px;
	color: #94b0b7;
}
@media screen and (max-width:960px){
	.service-box{
		max-width: 45%;
	}
}
@media screen and (max-width:768px){
	.service-box{
		max-width: 50%;
	}
}
@media screen and (max-width:480px){
	.service-box{
		max-width: 100%;
	}
}
/*------------------End Services Section------------------*/

/*------------------Start Break1 Section------------------*/
.wrapper {
    padding: 6rem 0 4rem 0;
    position: relative;
    margin: 0;
	text-align: center;
}
.wrapper.style3 {
	background-color: #4a707a;
	color: #94b0b7;
	background-image: url(../images/img32.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	position: relative;
	margin-top: 70px;
}
.wrapper.style3 .inner {
	position: relative;
	z-index: 2;
}
.wrapper.style3 p {
	text-transform: uppercase;
	font-size: .75rem;
	font-weight: 300;
	margin: 0 0 .5rem 0;
	padding: 0 0 1rem 0;
	letter-spacing: .25rem;
}
.wrapper.style3 h2
{
	margin: 25px 0 1rem 0;
}
.wrapper.style3 p:after {
	content: '';
	position: absolute;
	margin: auto;
	right: 0;
	bottom: 0;
	left: 0;
	top: 0;
	width: 50%;
	height: 1px;
	background-color: #94b0b7;
}
.wrapper.style3:before {
	-moz-transition: opacity 3s ease;
	-webkit-transition: opacity 3s ease;
	-ms-transition: opacity 3s ease;
	transition: opacity 3s ease;
	-moz-transition-delay: 1.25s;
	-webkit-transition-delay: 1.25s;
	-ms-transition-delay: 1.25s;
	transition-delay: 1.25s;
	content: '';
	display: block;
	background-color: rgba(0, 0, 0, 0.95);
	height: 100%;
	left: 0;
	opacity: 0.75;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}
.wrapper.style3 hr {
	border-bottom-color: #aaa07c;
}
/*------------------End Break1 Section------------------*/

/*------------------Start Trips Section------------------*/
.heading{
	text-align: center;
	color: #4a707a;
	text-transform: uppercase;
	font-size: 30px;
	margin-top: 85px;
}
.border2
{
	width: 120px;
	height: 2px;
	background: #94b0b7;
	margin: 40px auto;
}
.blog .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.blog .box-container .box{
    width:25rem;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    margin:1.5rem;
    background: #fff;
    overflow: hidden;
}

.blog .box-container .box img{
    width: 100%;
    height: 17rem;
    object-fit: cover;
}

.blog .box-container .box .content{
    padding:1.5rem;
	height: 16.5rem;
}

.blog .box-container .box .content .info{
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    text-align: center;
    position: relative;
    font-size: 18px;
    color:#222;
    background:#eee;
    padding:1rem;
    margin-top: -4rem;
    margin-bottom: 1rem;
}

.blog .box-container .box .content .info i{
    color: #94b0b7;
    padding:0 1rem;
}

.blog .box-container .box .content .title{
    color:#222;
    display: block;
    font-size:30px;
    padding:.5rem 0;
    text-decoration: none;
}

.blog .box-container .box .content .title:hover{
    text-decoration: underline;
    color:#94b0b7;
}

.blog .box-container .box .content p{
    color:#666;
    padding:.5rem 0;
    font-size: 18px;
}
.btn2{
	text-decoration: none;
    display: inline-block;
    padding:.9rem 3.5rem;
    font-size: 2rem;
    background:none;
    color:#fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    margin-top: 1rem;
    z-index: 0;
    position: relative;
    overflow: hidden;
    border:.2rem solid #94b0b7;
}
.btn2::before{
    content: '';
    position: absolute;
    top:50%; left: 50%;
    transform: translate(-50%, -50%);
    border-radius: .5rem;
    background:#94b0b7;
    height:85%;
    width: 95%;
    z-index: -1;
    transition: .2s linear;
}

.btn2:hover:before{
    top:100%;
    transform: translate(-50%, 100%);
}

.btn2:hover{
    color:#94b0b7;
}

@media (max-width:300px){
.blog .box-container .box{
    width:90%;
}
}
/*------------------End Trips Section------------------*/

/*------------------Start Break2 Section------------------*/
.sub-form 
{
    background: #222;
	margin-top: 100px;
}
.sub-form .container 
{
    padding: 80px 0px;
}
.title {
    font-weight: 700;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 20px;
	color: #eee;
	text-align: center;
}
.themecolor 
{
    color: #7697a0;
}
.lead
{
	text-align: center;
	color: #eee;
}
.input-group .form-control
{
	background: transparent;
	box-shadow: none;
	font-size: 1.5rem;
	color: lightgrey;
	border-color: inherit;
	position: relative;
	float: left;
	padding-right: 90px;
}
#mc-form
{
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;
	display: table;
}
   
.form-control:focus {
	border-color: #fa5454;
	outline: 0;
	box-shadow: none;
}
 
.form-control {
	background-color: #222;
	color: #4c4c4c;
	box-shadow: none;
	height: 60px;
	font-weight: 400;
	font-size: 16px;
	padding: 0 1.5em;
}
   
.sub-form .btn
{ 
	padding: 1em; 
}
#mc-form .btn-default
{
	height: 60px;
}
/*------------------End Break2 Section------------------*/

/*------------------Start Contact Section------------------*/

.contact-header
{
	text-align: center;
	color: #4a707a;
	text-transform: uppercase;
	font-size: 30px;
	margin-top: 100px;
	margin-bottom: -10px;
}
.contact-section
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-info
{
	margin-right: 85px;
    color: #4a707a;
    max-width: 500px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 18px;
	margin-top: -7%;
}
.contact-info i
{
    margin-right: 20px;
    font-size: 25px;
}
.contact-form
{
    max-width: 700px;
    margin-right: 50px;
}
.contact-info .contact-form
{
    flex:1;
}
.contact-form .text-box
{
    background: #000;
    color: #fff;
    border: none;
    width: calc(50%-10px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}
.contact-form .text-box:first-child
{
    margin-right: 15px;
}
.contact-form textarea
{
    background: #000;
    color: #fff;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}
.contact-form .send-button
{
    float: right;
    background: #4a707a;
    color: #fff;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: background;
}
.contact-form .send-button
{
    background: #4a707a;
}
@media screen and (max-width: 950px)
{
    .contact-section
    {
        flex-direction: column;
    }

    .contact-info .contact-form
    {
        margin: 30px 50px;
    }

    .contact-form h2 
    {
        font-size: 30px;
    }
    
    .contact-form .text-box
    {
        width: 100%;
    }
}

/*------------------End Contact Section------------------*/

/*------------------Start Footer Section------------------*/
.footer{
	background-color: #4a707a;
	padding-bottom: 1px;
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
	margin-top: 100px;
}

.footer .box-container .box{
    flex:3 1 0px;
    margin:2rem;
}

.footer .box-container .box h3{
    font-size: 25px;
    padding:1rem 0;
    color:#ddddda;
    text-decoration: underline;
    text-underline-offset: 10px;
}

.footer .box-container .box p{
    font-size: 20px;
    padding:.5rem 0;
    color:#c2c8c5;
}

.footer .box-container .box a{
	text-decoration: none;
    display: block;
    font-size: 20px;
    padding:4px 0;
    color:#c2c8c5;
}

.footer .box-container .box a:hover{
    text-decoration: underline;
}

.footer .box-container .box .info{
    display: flex;
    align-items: center;
}

.footer .box-container .box .info i{
    margin:.5rem 0;
    margin-right: 1rem;
    border-radius: 50%;
    background:#ddddda;
    color:var(--pink);
    font-size: 1.5rem;
    height:3.5rem;
    width:3.5rem;
    line-height: 3.5rem;
    text-align: center;
}

.footer .credit{
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: .1rem;
    color:#ddddda;
    border-top: .1rem solid #94b0b7;
    padding:2.5rem 1rem;
    text-align: center;
}



/*------------------End Footer Section------------------*/

   
 
.clearfix
{
	clear: both;
}


